<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SectionTitle</key>
	<array>
		<string>ACCOUNT</string>
		<string>SUPPORT</string>
	</array>
	<key>SuportSection</key>
	<dict>
		<key>Title</key>
		<array>
			<string>Suport</string>
		</array>
	</dict>
	<key>AccountSection</key>
	<dict>
		<key>Title</key>
		<array>
			<string>My profile</string>
			<string>My Travel Diarys</string>
		</array>
	</dict>
</dict>
</plist>
